/* 页面整体 */
body {
    margin: auto;
    max-width: 580px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

/* 页脚 */
footer {
    color: #888;
    margin-top: 15px;
    text-align: center;
    padding: 10px;
}

/* 头像 */
.halo {
    width: 20px;
}

/* 股票列表 */
.stock-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.stock-list li {
    padding: 12px 24px;
    border-bottom: 1px solid #ddd;
}

.stock-list li:last-child {
    border-bottom: none;
}

.stock-list li:hover {
    background-color: #f8f9fa;
}

.poo {
    display: block;
    margin: 0 auto;
    height: 88px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

.float-right {
    float: right;
}

/* 覆盖某些浏览器对 input 元素定义的字体 */
input[type=submit] {
    font-family: inherit;
}

input[type=text] {
    border: 1px solid #ddd;
}

input[name=year] {
    width: 50px;
}

.btn {
    font-size: 12px;
    padding: 3px 5px;
    text-decoration: none;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid #555555;
    border-radius: 5px;
}

.btn:hover {
    text-decoration: none;
    background-color: black;
    color: white;
    border: 1px solid black;
}

.alert {
    position: relative;
    padding: 7px;
    margin: 7px 0;
    border: 1px solid transparent;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    border-radius: 5px;
}

.imdb {
    font-size: 12px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    background: #F5C518;
    border-radius: 5px;
    padding: 3px 5px;
}

.inline-form {
    display: inline;
}

.labelwatchlist {
    text-align:right;
    width: 65px;
    display: inline-block;
}

.labelstockname {
    font-weight: bold;
    text-align:left;
    width: 60px;
    display: inline-block;
}

.labelstockcode {
    text-align:left;
    width: 60px;
    display: inline-block;
}

.labelstockpricetip {
    font-size: 10px;
    text-align:right;
    width: 40px;
    display: inline-block;
    border-radius: 5px;
    padding: 3px 5px;
}

.labelstockpriceRed {
    font-weight: bold;
    text-align:center;
    width: 50px;
    display: inline-block;
    border-radius: 5px;
    padding: 3px 5px;
    text-decoration: none;
    background: #d7f2f7;
    color: red;
}

.labelstockpriceGreen {
    font-weight: bold;
    text-align:center;
    width: 50px;
    display: inline-block;
    border-radius: 5px;
    padding: 3px 5px;
    text-decoration: none;
    background: #d7f2f7;
    color: green;
}

.labelstockprice {
    font-weight: bold;
    text-align:center;
    width: 50px;
    display: inline-block;
    border-radius: 5px;
    padding: 3px 5px;
    text-decoration: none;
    background: #d7f2f7;
    color: black;
}

.labelstockpriceset {
    font-weight: bold;
    font-size: 12px;
    text-align:center;
    width: 30px;
    display: inline-block;
    border-radius: 5px;
    padding: 3px 5px;
    text-decoration: none;
    background: #d7f2f7;
}

.normaltip {
    font-size: 12px;
    border-radius: 5px;
    padding: 3px 5px;
}

.normaltipright {
    font-size: 12px;
    text-align:right;
    width: 50px;
    display: inline-block;
    border-radius: 5px;
    padding: 3px 5px;
}

.normaltipbold {
    font-weight: bold;
    font-size: 12px;
    border-radius: 5px;
    padding: 3px 5px;
}