<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>盯盘助手</title>
    <link rel="icon" href="{{ url_for('static', filename='images/coin.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    {% endblock %}
</head>
<body style="background-color:aliceblue;">
    <!-- 插入flash消息-->
    {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
    {% endfor %}
    <!-- 待填充 -->
    {% block maintitle %}{% endblock %}
    {% block navigator %}{% endblock %}
    {% block content %}{% endblock %}
    <!-- 页脚 -->
    <footer>
        <img src="{{ url_for('static', filename='images/kitty.gif') }}" alt="hello" class="poo">
        <small>&copy; 2024 Kemo </small>
    </footer>
</body>
</html>