{% extends 'basenavi.html' %}

{% block content %}

{# 使用 length 过滤器获取 stocks 变量的长度 #}
<p>已经关注了{{ stocks|length }}支股票, 最多关注5支.</p>
{% if user.is_authenticated %}
<form method="post" action="{{ url_for('add') }}">
    股票代码 <input type="text" name="stockcode" autocomplete="off" required>
    <input class="btn" type="submit" name="submit" value="加自选">
</form>
{% endif %}
<ul class="stock-list">
    {% for stock in stocks %} {# 遍历 stocks #}
    <li>{{ stock.title }} - {{ stock.year }}
        <span class="float-right">
            {% if user.is_authenticated %}
            <form class="inline-form" method="post" action="{{ url_for('delete') }}">
                <input type="hidden" name="stock_id" value="{{ stock.id }}">
                <input class="btn" type="submit" name="delete" value="删除" onclick="return confirm('确定删除?')">
            </form>
            {% endif %}
            <a class="imdb" href="https://www.imdb.com/find?q={{ stock.title }}" target="_blank" title="查看详细个股信息">IMDb</a>
        </span>
    </li>
    {# 等同于 stock ['title'] #}
    {% endfor %} {# 使用 endfor 标签结束 for 语句 #}
</ul>

{% endblock %}